* {
    margin: 0;
    padding: 0;
}

/* body {

} */

#page-container {
    height: 100vh;
    width: 100vw;
    display: block;
    background-color: black;
}

#svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#svg-area {
    transform: scale(.5);
    height: 350px;
    width: 400px;
    border: 20px ridge  gray;
}

/*truck parts*/

#body {
    stroke: white;
    stroke-width: 5;
    fill: black;
}

#window {
    stroke: white;
    stroke-width: 2;
    fill: black;
}

#chassis {
    stroke: white;
    stroke-width: 2;
    fill: black;
}

#tray {
    stroke: white;
    stroke-width: 5;
    fill: black;
}

.text {
    font-size: 20px;
    stroke: white;
    stroke-width: .5;
}

.wheels {
    stroke: white;
    stroke-width: 15;
    fill: black;
    stroke-dasharray: 4;
}

.inner-wheels {
    stroke: black;
    stroke-width: 2;
    fill: white;
}

#ground-pile {
    stroke-width: 5;
}

#truck-dirt {
    stroke: brown;
    stroke-width: 5;
    fill: brown;
}

/* animate dirt coming out of the back of the truck */

 .dirt-lines { 
    stroke: transparent;
    stroke-width: 5;
    fill: none;
    stroke-dasharray: 5;
    animation-name: animate-dirt;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
}

@keyframes animate-dirt {
    from {stroke-dashoffset: 1000;}
    to {stroke-dashoffset: 0;} 
}

/* button styles */

#button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: purple;
    color: white;
    height: 40px;
    width: 60px;
    border: 2px solid rgb(44, 1, 40);
    border-radius: 25px;
    margin: 10px;
}

button:hover {
    transform: scale(1.2)
}